*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    display: flex;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
}
#heading{
    font-size: 40px;

}
.main{
    flex-grow: 1;
}
footer{
    background: gold;
    padding: 10px;
}
.comparison-div{
    background:  gold;
}
h1{
    background: gold;
    padding-top: 10px;
    margin-top: 0px;
    padding-bottom: 10px;
}
ol{
    padding-left: 20px;
}